.liste-mots-maquette {
    list-style: none;
    padding: 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mot-cadre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--violet-clair);
    border-radius: 15px;
    padding: 12px 20px;
}

.btn-ajout-ovale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    background-color: var(--violet-foncé);
    color: var(--blanc);
    border-radius: 30px;
    font-size: 2rem;
    margin: 30px auto;
    box-shadow: var(--ombre);
    text-decoration: none;
}